<section class="bookmarks">
  <!-- query the "infinite-scroll-container" starting from the root element
    and listen to the "window" scroll event instead of this element -->
  <div
    class="flex flex-col overflow-hidden bookmark-list"
    infiniteScroll
    [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="150"
    [infiniteScrollContainer]="'.infinite-scroll-container'"
    [scrollWindow]="true"
    [fromRoot]="true"
    (scrolled)="loadMoreItems()"
  >
    <h2 class="bookmark-list__title mb-4">My List</h2>
    <!-- TODO: add empty message -->
    <!-- TODO: add loader -->
    <app-bookmarks-collection-container
      [bookmarks]="bookmarks$ | async"
      [favorites]="favorites$ | async"
      [showLoader]="showLoader$ | async"
    >
      <div *appEmptyCollectionMessage>
        <mat-icon [inline]="true" class="text-5xl text-red-600"
          >bookmarks</mat-icon
        >
        <p class="font-medium text-2xl">You haven't saved any articles yet</p>
        <p class="font-light">
          When you save an item in your List, it'll appear here.
        </p>
      </div>
    </app-bookmarks-collection-container>
    <!-- NOTE: transform is required for it to work -->
    <ngx-spinner
      class="xl:ml-32 transform fixed bottom-0 left-1/2 -translate-x-1/2 z-30 w-full"
      bdColor="transparent"
      size="large"
      color="#3a736b"
      type="cube-transition"
      [fullScreen]="false"
    >
      <div class="mb-32"></div>
    </ngx-spinner>
  </div>
</section>
