<section class="bookmarks text-gray-900">
  <!--   this serves as our container and add spacing with padding -->
  <div
    class="bookmark-list"
    infiniteScroll
    [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="50"
    [infiniteScrollContainer]=""
    [scrollWindow]="false"
    [fromRoot]="false"
    (scrolled)="onScroll()"
  >
    <h2 class="bookmark-list__title mb-4">My List</h2>
    <!-- TODO: add empty message -->
    <!-- TODO: add loader -->
    <app-bookmarks-collection-container
      [bookmarks]="bookmarks$ | async"
      [favorites]="favorites$ | async"
    ></app-bookmarks-collection-container>
  </div>
</section>
