<div class="flex flex-wrap flex-col md:flex-row -mx-4">
  <ng-container *ngIf="bookmarks; else loading">
    <ng-container *ngIf="bookmarks.length; else noItems">
      <ng-container *ngFor="let bookmark of bookmarks">
        <app-bookmark-preview
          class="md:w-1/3 w-full p-4 break-words"
          [bookmark]="bookmark"
        ></app-bookmark-preview>
      </ng-container>
    </ng-container>
    <ng-template #noItems>
      <div class="w-full my-12 text-xl text-center">
        <p>No items on your Reading List</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <!-- TODO: create a shared component for this -->
    <ng-container *ngFor="let item of generatePlaceholder(placeholders)">
      <div class="md:w-1/3 w-full p-4">
        <div class="bookmark-preview">
          <article class="max-w-xs">
            <div
              class="md:h-48 overflow-hidden w-full h-64 rounded bg-cover bg-center"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '100%'
                }"
              ></ngx-skeleton-loader>
            </div>
          </article>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
