<div data-test="add-link-form" class="add-link-form xl:px-0 px-2">
  <div class="flex -mx-2">
    <div class="xl:px-0 px-2 flex-1">
      <input
        appAutoFocus
        [formControl]="url"
        type="text"
        class="add-link-form__input h-full w-full outline-none flex-1 px-2 rounded border dark:border-transparent dark:bg-black dark:text-gray-300 bg-gray-200 text-gray-700"
        placeholder="Save a URL https://..."
      />
    </div>
    <div class="px-2" *ngIf="!minimal; else minimalUi">
      <div class="add-link-form__action inline-flex items-center space-x-2">
        <button
          type="button"
          class="add-link-form__cancel dark-hover:bg-black dark:text-gray-300 dark:bg-transparent dark:border-black hover:bg-gray-200 bg-transparent border rounded-md px-4 py-2 text-gray-900 font-bold"
          (click)="cancel.emit()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="add-link-form__done hover:bg-blue-500 bg-blue-600 rounded-md px-4 py-2 text-white font-bold"
          (click)="saveUrl()"
        >
          Save
        </button>
      </div>
    </div>
    <ng-template #minimalUi>
      <button
        type="button"
        class="add-link-form__cancel inline-flex hover:bg-gray-200 bg-transparent rounded-md p-2 text-gray-900 font-bold"
        (click)="cancel.emit()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
  </div>
</div>
