<div data-test="add-link-form" class="add-link-form xl:px-0 px-2">
  <div class="flex -mx-2">
    <div class="xl:px-0 px-2 flex-1">
      <input
        appAutoFocus
        type="text"
        class="add-link-form__input h-full w-full outline-none border flex-1 px-2 text-gray-900"
        placeholder="Save a URL https://..."
      />
    </div>
    <div class="px-2">
      <div class="add-link-form__action inline-flex items-center space-x-2">
        <button
          type="button"
          class="add-link-form__cancel hover:bg-gray-200 bg-transparent border rounded-md px-4 py-2 text-gray-900 font-bold"
          (click)="cancel.emit()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="add-link-form__done hover:bg-blue-500 bg-blue-600 rounded-md px-4 py-2 text-white font-bold"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
