<section class="bookmarks text-gray-900">
  <div class="bookmark-list">
    <h2 class="bookmark-list__title mb-4">{{ this.header }}</h2>
    <app-bookmarks-collection-container
      [bookmarks]="bookmarks$ | async"
      [favorites]="favorites$ | async"
      [showLoader]="showLoader$ | async"
    >
      <div *appEmptyCollectionMessage>
        <mat-icon [inline]="true" class="text-5xl text-red-600">tags</mat-icon>
        <p class="font-medium text-2xl" *ngIf="selectedTag$ | async as tag">
          You don't have any items under this '{{ tag }}' tag
        </p>
        <p class="font-light">
          Create tags to assign to your stories—they’ll help you easily search
          or sort your collection by topic or subject.
        </p>
      </div>
    </app-bookmarks-collection-container>
  </div>
</section>
