@tailwind base;
@tailwind components;
@tailwind utilities;

.mode-light {
  --primary: theme('colors.white');
  --primary-darker: theme('colors.gray.200');
  --secondary: theme('colors.red.600');
  --accent1: theme('colors.green.600');
  --accent1-darker: theme('colors.green.800');
  --accent2: theme('colors.blue.800');
  --accent2-darker: theme('colors.blue.600');

  /* Typography */
  --font-text: theme('colors.gray.700');

  /* Forms */
  --input-bg: theme('colors.gray.200');
  --input-placeholder: theme('colors.gray.600');

  /* Sidenav */
  --sidenav-bg: var(--primary-bg);
  --sidenav-text: var(--font-text);
  --sidenav-text-not-active-hover: var(--accent1);
  --sidenav-text-active: var(--accent1);
  --sidenav-text-bg-active: theme('colors.gray.200');

  /* Icons */
  --icon: var(--font-text);
  --icon-hover: theme('colors.gray.900');

  /* Modals */
  --modal-bg: var(--primary-bg);

  /* Tags */
  --tag-bg-active: theme('colors.green.100');
  --tag: var(--font-text);
  --tag-text-active: theme('colors.green.700');

  /* Tag chips */
  --tag-chip-bg: #e0e0e0;
  --tag-chip-bg-hover: theme('colors.gray.300');
  --tag-chip-text: #000000de;
}

.mode-dark {
  --primary: #1a1a1a;
  --primary-darker: theme('colors.black');
  --secondary: theme('colors.red.600');
  --accent1: theme('colors.green.500');
  --accent1-darker: theme('colors.green.800');
  --accent2: theme('colors.blue.600');
  --accent2-darker: theme('colors.blue.700');

  /* Typography */
  --font-text: theme('colors.gray.300');

  /* Forms */
  --input-bg: theme('colors.gray.200');
  --input-placeholder: theme('colors.gray.600');

  /* Sidenav */
  --sidenav-bg: var(--primary-bg);
  --sidenav-text: var(--font-text);
  --sidenav-text-not-active-hover: theme('colors.green.500');
  --sidenav-text-active: theme('colors.green.500');
  --sidenav-text-bg-active: theme('colors.gray.900');

  /* Icons */
  --icon: var(--font-text);
  --icon-hover: theme('colors.gray.900');

  /* Modals */
  --modal-bg: var(--primary-bg);

  /* Tags */
  --tag-bg-active: theme('colors.green.100');
  --tag: var(--font-text);
  --tag-text-active: theme('colors.green.700');

  /* Tag chips */
  --tag-chip-bg: theme('colors.gray.200');
  --tag-chip-bg-hover: theme('colors.gray.300');
  --tag-chip-text: theme('colors.gray.900');
}

.mode-sepia {
  --primary: theme('colors.sepia.500');
  --primary-darker: theme('colors.sepia.600');
  --secondary: theme('colors.red.600');
  --accent1: theme('colors.green.500');
  --accent1-darker: theme('colors.green.800');
  --accent2: theme('colors.blue.600');
  --accent2-darker: theme('colors.blue.700');

  /* Typography */
  --font-text: theme('colors.sepia.900');

  /* Forms */
  --input-bg: theme('colors.gray.200');
  --input-placeholder: theme('colors.sepia.700');

  /* Sidenav */
  --sidenav-bg: var(--primary-bg);
  --sidenav-text: var(--font-text);
  --sidenav-text-not-active-hover: var(--accent1-darker);
  --sidenav-text-active: var(--accent1-darker);
  --sidenav-text-bg-active: theme('colors.gray.400');

  /* Icons */
  --icon: var(--font-text);
  --icon-hover: theme('colors.gray.900');

  /* Modals */
  --modal-bg: var(--primary-bg);

  /* Tags */
  --tag-bg-active: theme('colors.green.100');
  --tag: var(--font-text);
  --tag-text-active: theme('colors.green.700');

  /* Tag chips */
  --tag-chip-bg: theme('colors.sepia.800');
  --tag-chip-bg-hover: theme('colors.sepia.900');
  --tag-chip-text: theme('colors.sepia.100');
}

@layer base {
  button:focus {
    outline: none !important;
  }

  .mat-chip-list-wrapper {
    @apply border-transparent rounded;

    &:focus-within {
      @apply border-theme-primary-darker;
    }
  }

  .mat-dialog-container {
    @apply bg-theme-primary text-theme-font-text;
  }

  .mat-chip-list-wrapper {
    @apply bg-theme-primary-darker;
  }
}

@layer components {
  .sidenav {
    @apply flex flex-col font-medium text-sm capitalize text-theme-font-text;
  }
  .sidenav__items {
    @apply p-3 cursor-pointer rounded-sm;

    a {
      @apply flex items-center;
    }

    button {
      @apply inline-flex items-center capitalize font-medium;
    }
  }

  .sidenav__items:not(.active):hover {
    @apply text-theme-sidenav-text-not-active-hover;
  }

  .sidenav__items.active {
    @apply text-theme-sidenav-text-active bg-theme-sidenav-text-bg-active;
  }

  .bookmark-list {
    @apply max-w-sm mx-auto py-4;

    @screen md {
      @apply max-w-full;
    }
  }

  .bookmark-list__title {
    @apply font-medium text-2xl;
  }

  .text-img {
    @apply relative;
    width: 140%;
    height: 140%;

    &__wrapper {
      @apply absolute inset-0 bg-green-200 text-green-800;
    }

    &__text {
      @apply absolute font-serif;
      top: -22%;
      right: 33%;
      font-size: 22rem;
    }
  }

  .tag {
    @apply text-theme-sidenav-text;

    &:not(.active):hover {
      @apply text-theme-sidenav-text-not-active-hover;
    }

    .active {
      @apply bg-theme-sidenav-text-bg-active text-theme-sidenav-text-active rounded;
    }
  }

  .full-width-dialog {
    @apply mx-auto;

    .mat-dialog-container {
      @apply p-3;
    }

    @screen md {
      @apply w-1/2 max-w-lg !important;
    }
  }
}

@layer utilities {
  .center-between {
    @apply flex items-center justify-between;
  }

  .center-within {
    @apply flex items-center justify-center;
  }

  .inline-center-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-center-within {
    @apply inline-flex items-center justify-center;
  }
}
