@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:focus {
    outline: none !important;
  }

  .mat-chip-list-wrapper {
    @apply border rounded;

    &:focus-within {
      @apply border-gray-500;
    }
  }

  // ngx-skeleton-loader
  [class*='mode-dark'] ngx-skeleton-loader .loader {
    background-color: theme('colors.blue.100');
    opacity: theme('opacity.25');
  }
}

@layer components {
  .sidenav {
    @apply flex flex-col font-medium text-sm capitalize text-gray-700;

    [class*='mode-dark'] & {
      @apply text-gray-300;
    }
  }
  .sidenav__items {
    @apply p-3 cursor-pointer rounded-sm;

    > a {
      @apply flex items-center;
    }

    > button {
      @apply inline-flex items-center capitalize font-medium;
    }
  }

  .sidenav__items:not(.active):hover {
    @apply text-green-700;

    [class*='mode-dark'] & {
      @apply text-green-300;
    }
  }

  .sidenav__items.active {
    @apply bg-gray-200;
    @apply text-green-700;

    [class*='mode-dark'] & {
      @apply bg-blue-100 bg-opacity-25 text-gray-200;
    }
  }

  .bookmark-list {
    @apply max-w-sm mx-auto py-4;

    @screen md {
      @apply max-w-full;
    }
  }

  .bookmark-list__title {
    @apply font-medium text-2xl;
  }

  .text-img {
    @apply relative;
    width: 140%;
    height: 140%;

    &__wrapper {
      @apply absolute inset-0 bg-green-200 text-green-800;
    }

    &__text {
      @apply absolute font-serif;
      top: -22%;
      right: 33%;
      font-size: 22rem;
    }
  }

  .tag {
    .active {
      @apply bg-green-100 text-green-700 rounded;
    }
  }

  .full-width-dialog {
    @apply mx-auto;

    .mat-dialog-container {
      @apply p-3;
    }

    @screen md {
      @apply w-1/2 max-w-lg !important;
    }
  }
}

@layer utilities {
  .center-between {
    @apply flex items-center justify-between;
  }

  .center-within {
    @apply flex items-center justify-center;
  }

  .inline-center-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-center-within {
    @apply inline-flex items-center justify-center;
  }
}
