<div
  class="dark:bg-dark bg-white w-full p-2 border-b dark:border-black border-gray-200 text-lg"
>
  <div class="flex center-between">
    <a routerLink="/bookmarks" class="inline-block leading-none">
      <mat-icon class="w-full h-full text-4xl">arrow_back</mat-icon>
    </a>
    <ul class="flex-1 flex justify-center items-center space-x-4 mx-3">
      <li>
        <button
          (click)="toggleFavoriteBookmark()"
          type="button"
          aria-label="Favorite"
          matTooltipPosition="below"
          matTooltip="Favorite"
          class="leading-none"
          [ngClass]="{ 'text-yellow-400': !!bookmarkFavorite }"
        >
          <mat-icon class="w-full h-full text-4xl">star</mat-icon>
        </button>
      </li>
      <li>
        <button
          (click)="openTagsModal()"
          type="button"
          aria-label="Tag"
          matTooltipPosition="below"
          matTooltip="Tag"
          class="leading-none"
        >
          <mat-icon class="w-full h-full text-4x">local_offer</mat-icon>
        </button>
      </li>
      <li>
        <button
          *ngIf="!bookmark.deleted"
          (click)="archiveBookmark()"
          type="button"
          aria-label="Archive"
          matTooltipPosition="below"
          matTooltip="Archive"
          class="leading-none"
        >
          <mat-icon class="w-full h-full text-4xl">archive</mat-icon>
        </button>
        <button
          *ngIf="bookmark.deleted"
          (click)="restoreBookmark()"
          type="button"
          aria-label="Restore Bookmark"
          matTooltipPosition="below"
          matTooltip="Re-add"
          class="leading-none"
        >
          <mat-icon class="w-full h-full text-4xl">add</mat-icon>
        </button>
      </li>
      <li>
        <button
          (click)="deleteBookmark()"
          type="button"
          aria-label="Delete"
          matTooltipPosition="below"
          matTooltip="Delete"
          class="leading-none"
        >
          <mat-icon class="w-full h-full text-4xl">delete</mat-icon>
        </button>
      </li>
    </ul>

    <button
      type="button"
      aria-label="Display Settings"
      matTooltipPosition="below"
      matTooltip="Display Settings"
      class="leading-none"
    >
      <mat-icon class="w-full h-full text-4xl">text_format</mat-icon>
    </button>
  </div>
</div>
