<mat-sidenav-container [hasBackdrop]="false">
  <!-- TODO: "open" on md (768px) on tailwind size -->
  <mat-sidenav
    data-test="sidenav"
    [fixedInViewport]="!mediaQuery.matches"
    [mode]="mediaQuery.matches ? 'side' : 'over'"
    [opened]="mediaQuery.matches"
  >
    <div class="h-full border border-gray-200 md:border-t-0">
      <div data-test="sidenav-parent-view" class="sidenav" *ngIf="!isChildNav">
        <!-- top section -->
        <section
          data-test="sidenav__header"
          class="sidenav__header top-section w-64 space-y-3 text-sm"
          *ngIf="!mediaQuery.matches"
        >
          <div
            class="border-b border-gray-200 py-3 px-3"
            *ngIf="!mediaQuery.matches"
          >
            <div class="h-12 center-between">
              <button class="inline-flex" (click)="toggleSidenav($event)">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button
                class="text-sm py-1 px-3 capitalize hover:bg-green-900 bg-green-800 text-white font-bold p-1 rounded"
              >
                Upgrade
              </button>
            </div>
          </div>
        </section>

        <!-- main links -->
        <section class="sidenav__body p-2 w-64 space-y-3 text-sm">
          <!-- main links -->
          <ul class="sidenav__list">
            <li class="sidenav__items">
              <a href="#">
                <mat-icon class="mr-1">home</mat-icon>
                my list
              </a>
            </li>
            <li class="sidenav__items">
              <a href="#">
                <mat-icon class="mr-1">archive</mat-icon>
                archive
              </a>
            </li>
          </ul>

          <!-- filters -->
          <div class="filters">
            <div class="text-xs font-bold uppercase">filters</div>

            <ul class="sidenav__list">
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">favorites</mat-icon>
                  favorites
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">highlights</mat-icon>
                  highlights
                </a>
              </li>
              <li class="sidenav__items">
                <button data-test="tags-menu-button" (click)="openChildNav()">
                  <mat-icon class="mr-1">tags</mat-icon>
                  tags
                </button>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">articles</mat-icon>
                  articles
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">switch_video</mat-icon>
                  videos
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div data-test="sidenav-child-view" class="sidenav" *ngIf="isChildNav">
        <!-- top section -->
        <section class="sidenav__header top-section w-64 space-y-3 text-sm">
          <div class="border-b border-gray-200 py-3 px-3">
            <div class="h-12 center-between">
              <button class="inline-flex" (click)="closeChildNav()">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <div class="flex-1 text-center font-normal">Tags</div>
            </div>
          </div>
        </section>

        <section class="sidenav__body">
          <app-tags-list></app-tags-list>
        </section>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- NOTE: this should match with the header styles so they would always be aligned -->
    <!-- we removed the padding-right on larger screen so the scrollbar
      will move to the right of the screen -->
    <div class="xl:pr-0 px-5">
      <div class="xl:max-w-full md:max-w-screen-md max-w-xs mx-auto">
        <div class="flex">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
