<mat-sidenav-container [hasBackdrop]="false">
  <!-- TODO: "open" on md (768px) on tailwind size -->
  <mat-sidenav
    [fixedInViewport]="!mediaQuery.matches"
    [mode]="mediaQuery.matches ? 'side' : 'over'"
    [opened]="mediaQuery.matches"
  >
    <div class="h-full border border-gray-200 md:border-t-0">
      <div class="sidenav" *ngIf="!isChildNav">
        <!-- top section -->
        <section
          class="sidenav__header top-section w-64 space-y-3 text-sm"
          *ngIf="!mediaQuery.matches"
        >
          <div
            class="flex justify-between items-center border-b border-gray-200 h-12 py-1 px-3"
            *ngIf="!mediaQuery.matches"
          >
            <button class="inline-flex" (click)="toggleSidenav($event)">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button
              class="text-sm py-1 px-3 capitalize hover:bg-green-900 bg-green-800 text-white font-bold p-1 rounded"
            >
              Upgrade
            </button>
          </div>
        </section>

        <!-- main links -->
        <section class="sidenav__body p-2 w-64 space-y-3 text-sm">
          <!-- main links -->
          <ul class="sidenav__list">
            <li class="sidenav__items">
              <a href="#">
                <mat-icon class="mr-1">home</mat-icon>
                my list
              </a>
            </li>
            <li class="sidenav__items">
              <a href="#">
                <mat-icon class="mr-1">archive</mat-icon>
                archive
              </a>
            </li>
          </ul>

          <!-- filters -->
          <div class="filters">
            <div class="text-xs font-bold uppercase">filters</div>

            <ul class="sidenav__list">
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">favorites</mat-icon>
                  favorites
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">highlights</mat-icon>
                  highlights
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#" (click)="openChildNav()">
                  <mat-icon class="mr-1">tags</mat-icon>
                  tags
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">articles</mat-icon>
                  articles
                </a>
              </li>
              <li class="sidenav__items">
                <a href="#">
                  <mat-icon class="mr-1">switch_video</mat-icon>
                  videos
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="sidenav" *ngIf="isChildNav">
        <!-- top section -->
        <section class="sidenav__header top-section w-64 space-y-3 text-sm">
          <div
            class="flex justify-between items-center border-b border-gray-200 h-12 py-1 px-3"
          >
            <button class="inline-flex" (click)="closeChildNav()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="flex-1 text-center font-normal">Tags</div>
          </div>
        </section>

        <section class="sidenav__body">
          <ul class="tags space-y-2 ml-3 py-2 text-gray-700 font-normal">
            <li *ngFor="let tag of tags">
              <app-tags class="w-full" [name]="tag"></app-tags>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="md:max-w-full max-w-xs mx-auto">
      <div class="flex">
        <p>test</p>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
