<div class="bookmark-preview">
  <div class="dark:border-black border-b">
    <article class="max-w-xs">
      <header>
        <h3>
          <app-router-or-redirect
            [styleClass]="['block', 'truncate', 'text-left', 'antialiased']"
            [bookmark]="bookmark"
            [redirect]="!bookmark.contentInMarkdown.length"
            [externalLink]="bookmark.url"
            externalLinkTarget="_blank"
            [ariaLabel]="bookmark.title"
            route="/bookmarks/reader/{{ bookmark.id }}"
          >
            <div *appLinkContent="let item">
              <div
                *ngIf="item.image"
                class="md:h-48 overflow-hidden w-full h-64 rounded bg-cover bg-center"
                aria-hidden="true"
                [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
              ></div>
              <div
                *ngIf="!item.image"
                class="md:h-48 overflow-hidden w-full h-64 rounded object-fit object-center"
                aria-hidden="true"
              >
                <app-text-img
                  [text]="forImgPlaceholder(item.title)"
                ></app-text-img>
              </div>
              <span class="block truncate text-xl mt-2 font-semibold">
                {{ item.title }}
              </span>
            </div>
          </app-router-or-redirect>
        </h3>
      </header>

      <a
        class="block mb-3 font-normal"
        target="_blank"
        [attr.aria-label]="bookmark.domain"
        [attr.href]="bookmark.url"
      >
        <cite class="hover:text-blue-500 not-italic text-md">
          {{ bookmark.domain }}
        </cite>
      </a>
      <div class="text-md" style="min-height: 4rem">
        <p class="truncate-2-lines">{{ bookmark.description }}</p>
      </div>
    </article>
    <!-- action menu -->
    <div class="action-buttons flex justify-between my-4">
      <div class="status-icons flex">
        <span
          class="flex rounded mx-1 bg-yellow-500 text-white"
          *ngIf="favorited"
        >
          <span class="cdk-visually-hidden">This bookmark is favorited</span>
          <mat-icon>star_rate</mat-icon>
        </span>
        <span
          class="flex rounded mx-1 bg-blue-600 text-white"
          *ngIf="!bookmark.contentInMarkdown.length"
        >
          <span class="cdk-visually-hidden"
            >This bookmark will be redirected to the original webpage</span
          >
          <mat-icon>language</mat-icon>
        </span>
      </div>

      <button
        class="flex ml-auto"
        [matMenuTriggerFor]="menu"
        aria-label="Bookmark preview menu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu
        #menu="matMenu"
        xPosition="before"
        yPosition="above"
        class="dark:bg-dark p-0 rounded-none"
      >
        <ul class="flex flex-col justify-center w-full h-full">
          <button
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-200 hover:text-green-800 flex items-center justify-start p-2"
          >
            <mat-icon class="mr-2">share</mat-icon>
            Share
          </button>
          <button
            *ngIf="!bookmark.deleted"
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-200 hover:text-green-800 flex items-center justify-start p-2"
            (click)="archiveBookmark(bookmark.id)"
          >
            <mat-icon class="mr-2">archive</mat-icon>
            Archive
          </button>
          <button
            *ngIf="bookmark.deleted"
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-200 hover:text-green-800 flex items-center justify-start p-2"
            (click)="restoreBookmark(bookmark.id)"
          >
            <mat-icon class="mr-2">add</mat-icon>
            Re-add
          </button>
          <button
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-200 hover:text-green-800 flex items-center justify-start p-2"
            (click)="deleteBookmark(bookmark.id)"
          >
            <mat-icon class="mr-2">delete</mat-icon>
            Delete
          </button>
          <button
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-300 hover:text-green-800 flex items-center justify-start p-2"
            (click)="toggleFavoriteBookmark(bookmark)"
          >
            <!-- TODO: highlight the star icon -->
            <mat-icon class="mr-2" [ngClass]="{ 'text-yellow-500': favorited }"
              >star</mat-icon
            >
            Favorite
          </button>
          <button
            class="dark-hover:bg-opacity-25 dark:text-gray-200 hover:bg-gray-300 hover:text-green-800 flex items-center justify-start p-2"
            (click)="openTagsModal()"
          >
            <mat-icon class="mr-2">local_offer</mat-icon>
            Tags
          </button>
        </ul>
      </mat-menu>
    </div>
  </div>
</div>
