<header class="border-b border-gray-200 text-gray-700 px-5 py-3">
  <div
    class="flex justify-between items-center h-12 max-w-xs md:max-w-screen-md xl:max-w-full mx-auto"
  >
    <!-- logo -->
    <!-- with should be equal to the width of the mat-sidenav -->
    <div class="flex items-center xl:w-64 xl:-mr-2 py-1">
      <!-- header toggle button -->
      <button
        data-test="menu-toggle"
        class="xl:hidden inline-flex mr-2"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="inline-flex items-center">
        <mat-icon class="text-red-600">bookmarks</mat-icon>
        <span class="md:block hidden ml-1 text-xl">pocket</span>
      </h1>
    </div>
    <div class="search-box-container flex-1" *ngIf="searchboxVisible">
      <app-search-box
        (search)="searchBookmarks($event)"
        (cancel)="cancelSearch()"
      ></app-search-box>
    </div>
    <div class="search-box-container flex-1" *ngIf="addLinkFormVisible">
      <app-add-link-form (cancel)="cancelAddLink()"></app-add-link-form>
    </div>

    <div
      class="header__actions flex items-center"
      *ngIf="!searchboxVisible && !addLinkFormVisible"
    >
      <ul class="flex space-x-1 mr-1">
        <li class="cursor-pointer inline-flex">
          <button
            data-test="search-btn"
            class="search-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="search"
            (click)="showSearchBox()"
          >
            <mat-icon class="w-8 h-8 text-3xl hover:text-gray-900"
              >search</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            data-test="add-link-btn"
            class="add-link-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="add"
            (click)="showAddLinkForm()"
          >
            <mat-icon class="w-8 h-8 text-3xl hover:text-gray-900"
              >add</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            class="inline-flex"
            matTooltipPosition="below"
            matTooltip="edit"
          >
            <mat-icon class="w-8 h-8 text-3xl hover:text-gray-900"
              >edit</mat-icon
            >
          </button>
        </li>
        <!-- TODO: just for testing -->
        <li class="cursor-pointer inline-flex">
          <!-- TODO: replace with button and attach a click handler for logout -->
          <a
            class="inline-flex"
            matTooltipPosition="below"
            matTooltip="login"
            href="http://localhost:3000/api/auth/google"
          >
            <mat-icon class="w-8 h-8 text-3xl hover:text-gray-900"
              >login</mat-icon
            >
          </a>
          <!-- <a href="/api/auth/google">Login</a> -->
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            class="inline-flex"
            matTooltipPosition="below"
            matTooltip="logout"
            type="button"
            (click)="logout($event)"
          >
            <mat-icon class="w-8 h-8 text-3xl hover:text-gray-900"
              >logout</mat-icon
            >
          </button>
        </li>
      </ul>
      <div class="account-menu">
        <img
          class="rounded-full w-6 h-6 cursor-pointer"
          src="/assets/avatar.png"
          alt="avatar"
        />
      </div>
    </div>
  </div>
</header>
