<header class="dark:border-dark-mode-max border-b border-gray-200 px-5 py-3">
  <div
    class="flex justify-between items-center h-12 max-w-xs md:max-w-screen-md xl:max-w-full mx-auto"
  >
    <!-- logo -->
    <!-- with should be equal to the width of the mat-sidenav -->
    <div
      class="flex items-center xl:w-64 xl:-mr-2 py-1"
      [ngClass]="{
        hidden:
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
      }"
    >
      <!-- header toggle button -->
      <button
        data-test="menu-toggle"
        class="xl:hidden inline-flex mr-2"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="inline-flex items-center" routerLink="/">
        <mat-icon class="text-red-600">bookmarks</mat-icon>
        <span class="md:block hidden ml-1 text-xl">pocket</span>
      </a>
    </div>
    <div class="search-box-container flex-1" *ngIf="searchboxVisible">
      <app-search-box
        [minimal]="
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
        "
        (search)="searchBookmarks($event)"
        (cancel)="cancelSearch()"
      ></app-search-box>
    </div>
    <div class="search-box-container flex-1" *ngIf="addLinkFormVisible">
      <app-add-link-form
        [minimal]="
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
        "
        (save)="saveUrl($event)"
        (cancel)="cancelAddLink()"
      ></app-add-link-form>
    </div>

    <div
      class="header__actions flex items-center"
      *ngIf="!searchboxVisible && !addLinkFormVisible"
    >
      <ul class="flex space-x-1 mr-1">
        <li class="cursor-pointer inline-flex">
          <button
            data-test="search-btn"
            class="search-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="search"
            (click)="showSearchBox()"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >search</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            data-test="add-link-btn"
            class="add-link-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="add"
            (click)="showAddLinkForm()"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >add</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            class="inline-flex"
            matTooltipPosition="below"
            matTooltip="edit"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >edit</mat-icon
            >
          </button>
        </li>
      </ul>
      <div class="user-menu">
        <button mat-button [matMenuTriggerFor]="menu" aria-label="user menu">
          <img
            class="rounded-full w-6 h-6 cursor-pointer"
            src="/assets/avatar.png"
            alt="avatar"
            aria-hidden="true"
          />
        </button>
        <mat-menu #menu="matMenu" class="dark:bg-dark-mode bg-white">
          <div
            class="p-5 flex items-center space-between border-b dark:border-dark-mode-max border-gray-200 font-medium"
          >
            <img
              class="mr-2 rounded-full w-10 h-10"
              src="/assets/avatar.png"
              alt="avatar"
              aria-hidden="true"
            />
            <span *ngIf="currentUser$ | async as currentUser">
              {{ currentUser.displayName }}
            </span>
          </div>
          <button
            class="dark:text-dark-mode-text text-gray-700"
            mat-menu-item
            type="button"
            (click)="logout($event)"
          >
            logout
          </button>
          <div
            mat-menu-item
            aria-label="Theme picker"
            class="hover:bg-transparent p-3 h-auto max-w-full"
            [disableRipple]="true"
          >
            <app-radio-group-picker
              styleClass="theme-picker"
              ariaLabel="Choose the theme"
              [items]="themes"
              [formControl]="themePicker"
              (click)="$event.stopPropagation()"
            >
              <div *appRadioGroupPicker="let item" [matTooltip]="item.label">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-circle text-gray-500 fill-current"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="0.7"
                  stroke="#a29b8d"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="12" cy="12" r="9" [attr.fill]="item.color" />
                </svg>
              </div>
            </app-radio-group-picker>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
