<header class="border-b border-theme-primary-darker px-5 py-3">
  <div
    class="flex justify-between items-center h-12 max-w-xs md:max-w-screen-md xl:max-w-full mx-auto"
  >
    <!-- logo -->
    <!-- with should be equal to the width of the mat-sidenav -->
    <div
      class="flex items-center xl:w-64 xl:-mr-2 py-1"
      [ngClass]="{
        hidden:
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
      }"
    >
      <!-- header toggle button -->
      <button
        data-test="menu-toggle"
        class="xl:hidden inline-flex mr-2"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="inline-flex items-center" routerLink="/">
        <mat-icon class="text-red-600">bookmarks</mat-icon>
        <span class="md:block hidden ml-1 text-xl">pocket</span>
      </a>
    </div>
    <div class="search-box-container flex-1" *ngIf="searchboxVisible">
      <app-search-box
        [minimal]="
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
        "
        (search)="searchBookmarks($event)"
        (cancel)="cancelSearch()"
      ></app-search-box>
    </div>
    <div class="search-box-container flex-1" *ngIf="addLinkFormVisible">
      <app-add-link-form
        [minimal]="
          !mediaQuery.matches &&
          (this.searchboxVisible || this.addLinkFormVisible)
        "
        (save)="saveUrl($event)"
        (cancel)="cancelAddLink()"
      ></app-add-link-form>
    </div>

    <div
      class="header__actions flex items-center"
      *ngIf="!searchboxVisible && !addLinkFormVisible"
    >
      <ul class="flex space-x-1 mr-1">
        <li class="cursor-pointer inline-flex">
          <button
            data-test="search-btn"
            class="search-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="search"
            (click)="showSearchBox()"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >search</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            data-test="add-link-btn"
            class="add-link-btn inline-flex"
            matTooltipPosition="below"
            matTooltip="add"
            (click)="showAddLinkForm()"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >add</mat-icon
            >
          </button>
        </li>
        <li class="cursor-pointer inline-flex">
          <button
            class="inline-flex"
            matTooltipPosition="below"
            matTooltip="edit"
          >
            <mat-icon
              class="w-8 h-8 text-3xl dark-hover:text-white hover:text-gray-900"
              >edit</mat-icon
            >
          </button>
        </li>
      </ul>
      <div class="user-menu">
        <button mat-button [matMenuTriggerFor]="menu" aria-label="user menu">
          <img
            class="rounded-full w-6 h-6 cursor-pointer"
            src="/assets/avatar.png"
            alt="avatar"
            aria-hidden="true"
          />
        </button>
        <mat-menu #menu="matMenu" class="bg-theme-primary">
          <div
            class="p-5 flex items-center space-between border-b border-theme-primary-darker font-medium"
          >
            <img
              class="mr-2 rounded-full w-10 h-10"
              src="/assets/avatar.png"
              alt="avatar"
              aria-hidden="true"
            />
            <span *ngIf="currentUser$ | async as currentUser">
              {{ currentUser.displayName }}
            </span>
          </div>
          <button
            class="text-theme-font-text"
            mat-menu-item
            type="button"
            (click)="logout()"
          >
            logout
          </button>
          <div
            mat-menu-item
            aria-label="Theme picker"
            class="hover:bg-transparent p-3 h-auto max-w-full"
            [disableRipple]="true"
          >
            <app-theme-picker-control
              [activeTheme]="selectedTheme$ | async"
              [themes]="themes"
              (controlValueChanges)="updateTheme($event)"
            ></app-theme-picker-control>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
