<section class="bookmarks text-gray-900">
  <div class="bookmark-list">
    <h2 class="bookmark-list__title mb-4">Favorites</h2>
    <app-bookmarks-collection-container
      [bookmarks]="bookmarks$ | async"
      [favorites]="favorites$ | async"
    >
      <div *appEmptyCollectionMessage>
        <mat-icon [inline]="true" class="text-5xl text-red-600"
          >favorites</mat-icon
        >
        <p class="font-medium text-2xl">You don't have any favorites yet</p>
        <p class="font-normal">
          When you favorite an item in your List, it'll appear here.
        </p>
      </div>
    </app-bookmarks-collection-container>
  </div>
</section>
