<a
  *ngIf="!redirect; else redirectLink"
  [routerLink]="route"
  [ngClass]="styleClass"
>
  <ng-container
    *ngTemplateOutlet="linkContent; context: { $implicit: bookmark }"
  ></ng-container>
</a>

<ng-template #redirectLink>
  <a
    [attr.href]="safeUrl"
    [attr.target]="externalLinkTarget ? externalLinkTarget : null"
    [attr.aria-label]="ariaLabel ? ariaLabel : null"
    [ngClass]="styleClass"
  >
    <ng-container
      *ngTemplateOutlet="linkContent; context: { $implicit: bookmark }"
    ></ng-container>
  </a>
</ng-template>
