<div class="tag h-6 center-between group cursor-pointer">
  <div data-test="tag-show-view" *ngIf="!isEditing" class="w-full">
    <div
      class="relative p-2 center-between w-full edit-tag bg-opacity-25"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        [routerLink]="['/bookmarks/tags', tag.name]"
        routerLinkActive="router-link-active"
        (click)="open()"
        >{{ tag.name }}</a
      >
      <!-- TODO: convert to button tag mat-button? -->
      <div
        data-test="tag-edit-button"
        class="absolute right-0 action hidden leading-none group-hover:inline-block"
      >
        <mat-icon class="cursor-pointer" (click)="openEdit(tagEditInput)"
          >create</mat-icon
        >
      </div>
    </div>
  </div>

  <div data-test="tag-edit-view" [hidden]="!isEditing" class="w-full">
    <div
      class="text-theme-font-text bg-theme-primary-darker center-between edit-tag"
    >
      <input
        class="p-2 bg-theme-primary-darker text-theme-font-text flex-1 focus:outline-none"
        type="text"
        [formControl]="tagControl"
        name="tag"
        aria-label="tag name"
        (blur)="closeEdit()"
        #tagEditInput
      />
      <!-- TODO: convert to button tag -->
      <!-- <div data-test="tag-delete-button"> -->
      <button data-test="tag-delete-button">
        <mat-icon
          class="flex-none text-red-600 cursor-pointer"
          (click)="closeEdit()"
          >delete</mat-icon
        >
      </button>
    </div>
  </div>
</div>
