<!--
* problems with border-bottom on child elements
* border-bottom for bookmarks should only appear on 1-column display
* border-bottom for each row must appear on 3-column display
-->
<section class="bookmarks text-gray-900">
  <!--   this serves as our container and add spacing with padding -->
  <div
    class="bookmark-list"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollContainer]=""
    [scrollWindow]="false"
    [fromRoot]="false"
    (scrolled)="onScroll()"
  >
    <h2 class="bookmark-list__title">My List</h2>
    <!-- TODO: add empty message -->
    <!-- TODO: add loader -->
    <app-bookmark-previews-container
      [bookmarks]="bookmarks$ | async"
    ></app-bookmark-previews-container>
  </div>
</section>
