<div class="login dark:text-dark-mode-text">
  <header class="dark:border-dark-mode-max border-b p-3 text-3xl">
    <h1 class="flex items-center justify-center">
      <mat-icon class="text-red-600">bookmarks</mat-icon>
      <a routerLink="/">
        <span class="ml-4">pocketlite</span>
      </a>
    </h1>
  </header>
  <div
    class="flex flex-col justify-center max-w-md mt-8 mx-auto p-5 dark:text-dark-mode-text"
  >
    <!-- Replace this later -->
    <h2 class="sm:text-center mb-8 text-3xl">Save them and read later.</h2>

    <a
      data-test="login"
      href="http://localhost:3000/api/auth/google"
      class="hover:bg-red-500 flex items-center justify-between mb-2 bg-red-600 text-white border-gray-400 py-4 px-5 rounded-md border-0"
    >
      <svg
        class="flex-none w-5 h-5 fill-current text-white inline-block"
        role="img"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Google icon</title>
        <path
          d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"
        />
      </svg>
      <span class="block flex-1 ml-2 text-center">Sign in with google</span>
    </a>

    <div class="sm:justify-center flex text-sm">
      <p>Already have an account?</p>
      <a href="http://localhost:3000/api/auth/google" class="underline ml-3">
        Login
      </a>
    </div>
  </div>
</div>
