<div class="flex flex-col fixed top-0 w-full">
  <div *ngIf="relativeScrollPosition$ | async as relativeScrollPosition">
    <mat-progress-bar
      class="absolute"
      [value]="relativeScrollPosition"
    ></mat-progress-bar>
  </div>
  <app-bookmark-reader-view-header
    [bookmark]="bookmark$ | async"
    [bookmarkFavorite]="bookmarkFavorite$ | async"
    (toggleFavorite)="toggleFavoriteBookmark($event)"
  ></app-bookmark-reader-view-header>
</div>
<app-bookmark-reader-view-body
  [bookmark]="bookmark$ | async"
  [tags]="bookmarkTags$ | async"
></app-bookmark-reader-view-body>
